.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.closing-button {
  width: 3em;
  justify-content: flex-start;
  padding-left: 1rem;
}

.tags-container {
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  gap: 2em;
}

.location-tag {
  padding: 0.25em 0.8em;
  border-radius: 1.2em;
  background-color: var(--tag-background-color);
}

.status-tag {
  padding: 0.25em 0.8em;
  border-radius: 1.2em;
}
