.header-container {
  display: flex;
  flex-direction: column;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  padding: 3rem;
}

.location-tag {
  padding: 0.5em 1.2em;
  border-radius: 1.2em;
  background-color: var(--background-color);
}

.status-tag {
  padding: 0.5em 1.2em;
  border-radius: 1.2em;
}
