.filter_bar_container{
    width: 70%;
    padding: 1.5em;
}

.filter_bar_container form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.filter_field{
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex: 1;
}

.filter_field select{
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom : 1px solid var(--primary-color-light);
    padding: 1em 0;
    color: var(--primary-color-light);
}

.filter_field option{
    width: 100%;
}

@media screen and (max-width : 1024px) {
    .filter_bar_container{
        width: 100%;
    }
}

@media screen and (max-width : 660px) {
    .filter_bar_container form{
        flex-direction: column;
        gap: 1.5em;
    }
}

