.ideas_cards_background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  gap: 2rem;
  grid-auto-rows: 18rem;
  padding: 1.5rem;
}

.card_background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1em;
  background-color: var(--ultra-light-color);
  position: relative;
}

.accepted_icon{
  position: absolute;
  right: 1em;
  top: 1em;
}

.rejected {
  opacity: .5;
}

.card_categories {
  margin-top: 1rem;
  display: inline;
  padding: 0.3rem 0.8rem;
  white-space: nowrap;
  border-radius: 1.5em;
  font-size: 0.3em;
  font-weight: bold;
  transition: font-size 0.5s ease;
  color: #fff;
}

.card_background:hover .card_categories {
  font-size: 0.7em;
  color: #fff;
}

.card_title {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary-color);
}

.card_city {
  background-color: var(--tag-background-color);
  color: var(--primary-color);
  display: inline;
  padding: 0.3rem 0.8rem;
  border-radius: 1em;
  font-size: 0.8em;
}

.card_state {
  display: inline;
  background-color: var(--secondary-color);
  color: #0c3944;
  padding: 0.3em 0.8em;
  border-radius: 1em;
  font-weight: bold;
}

.card_state_background {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
