.admin_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-top: 1.5em;
}

.admin_tabs {
  display: flex;
  gap: 2em;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 2em;
  border-radius: 2em;
}

.admin_tab {
  width: 50%;
  height: 2em;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-radius: 2em;
}
.admin_tab:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.active {
  background-color: var(--primary-color);
  color: #fff;
}

.ideas_tab,
.users_tab {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.params_tab {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin_params_category,
.admin_params_location,
.admin_ideas_moderation,
.admin_ideas_all_other {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  border-radius: 2em;
  padding: 2em;
  gap: 2em;
}

.admin_params_category,
.admin_params_location {
  align-items: center;
  justify-content: center;
}

.params_tab .submit_button {
  background-color: #fff;
  border-style: none;
  padding: 0.7em 2em;
  border-radius: 2em;
  border: 1px solid var(--primary-color);
}
.params_tab .submit_button:hover {
  background-color: var(--primary-color);
  border-style: none;
  color: white;
  padding: 0.7em 2em;
  border-radius: 2em;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.text_input {
  border-style: none;
  border: 1px solid var(--primary-color);
  color: white;
  padding: 0.7em 2em;
  border-radius: 2em;
}

.categ_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.submit_button {
  width: 10em;
}

.moderation_lines,
.users_lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.moderation_line,
.user_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  width: 100%;
}

.moderation_line .line_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.moderation_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_idea_status {
  width: 6em;
  border: 1px solid #fff;
  text-align: center;
  color: black;
  border-radius: 0.4em;
}

.moderation_color {
  background-color: var(--flame-pea-color);
  color: #fff;
}
.debat_color {
  background-color: var(--roman-color);
  color: #fff;
}
.synthese_color {
  background-color: var(--cerise-dark-color);
  color: #fff;
}
.expertise_color {
  background-color: var(--calypso-color);
  color: #fff;
}
.vote_color {
  background-color: var(--brick-red-color);
  color: #fff;
}
.accepted_color {
  background-color: var(--parsley-color);
  color: #fff;
}
.refused_color {
  background-color: var(--silver-tree-color);
  color: #fff;
}
.rejected_color {
  background-color: var(--zeus-color);
  color: #fff;
}

.moderation_title,
.users_title {
  width: 100%;
}

.moderation_delete_icon {
  cursor: pointer;
}

.admin_users_management {
  width: 100%;
  /* max-width: 860px; */
  height: fit-content;
  /* min-height: 260px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  border-radius: 2em;
  padding: 2em;
  gap: 2em;
}

.user_line .line_content {
  display: flex;
  align-items: center;
  gap: 5em;
}

.user_line .line_content p {
  width: 3em;
}

.user_line img {
  width: 2em;
  height: 2em;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
