.role_form {
  display: flex;
  gap: 1em;
  width: 10em;
}

.role_modify_icon {
  cursor: pointer;
}

.modify_form_icons {
  display: flex;
  align-items: center;
  gap: 1em;
}
.modify_form_icons select {
  margin-bottom: 0;
}
.modify_form_icon {
  cursor: pointer;
}
