.role_form {
  display: flex;
  gap: 1em;
}

.role_modify_icon {
  cursor: pointer;
}

.modify_form_icons {
  display: flex;
  gap: 1em;
}

.modify_form_icons select {
  margin: 0;
}

.modify_form_icon {
  cursor: pointer;
}
