.profile_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.profile_container{
  width: 80%;
  max-width: 860px;
  height: 35%;
  min-height: 260px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 2em;
}

.profile_head, .profile_content {
  flex : 1;
}

.profile_head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-right: var(--separator);
}

.profile_head img {
  width: 30%;
  border-radius: 50%;
}

.profile_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profile_name {
  text-align: center;
  line-height: 2em;
}

.profile_name h1 {

  font-size: 1.25em;

}

.button_profil {
  background-color: var(--primary-color);
  border-style: none;
  color: white ;
  padding: 0.7em 2em;
  border-radius: 2em;

}
.profile_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

