.profile_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.profile_container{
  width: 60%;
  height: 35%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 2em;
}

.profile_head, .profile_content {
  flex : 1;
}

.profile_head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-right: var(--separator);
}

.profile_head img {
  width: 40%;
  border-radius: 50%;
}

.profile_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profile_name {
  text-align: center;
  line-height: 2em;
}

.profile_name h1 {

  font-size: 1.5em;

}

.button_profil {
  background-color: var(--primary-color);
  border-style: none;
  color: white ;
  padding: 0.7em 2em;
  border-radius: 2em;

}
.profile_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

