.idea-details-container {
  width: 100%;
  background-color: var(--ultra-light-color);
  box-shadow: 0 -3px 18px 0 #00000025;
}

.cta-button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
  gap: 1.5em;
  padding-top: 5em;
  padding-bottom: 8em;
}

.container_button_action{
  display: flex;
  justify-content: center;
  gap : 1.5em;
  width: 100%;
}

.cta_button_action_status{
 width: 10em;
 font-weight:500 ;
}

