.idea-details-container {
  width: 100%;
  background-color: var(--ultra-light-color);
  box-shadow: -2px -3px 18px -10px;
}

.benef-header {
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.detail-header {
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
}

.benef-title {
  display: flex;
  gap: 1em;
  align-items: center;
}

.detail-title {
  display: flex;
  gap: 1em;
  align-items: center;
}

.categorie {
  width: 2.5em;
  border-radius: 15px;
  height: 1em;
}

.cross > img {
  width: 1em;
  transform: rotate(90deg);
}

.benef-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em 10em 1em 5em;
}

.detail-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em 10em 1em 5em;
}
